@model Takke.Models.Cobon

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cobon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CobonValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CobonValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActivationCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActivationCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cobontype)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cobontype)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.ClientMobile)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
